<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Alex Wilder</string>
		<key>image</key>
		<string>AlexWilder</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Angel</string>
		<key>image</key>
		<string>Angel</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Captain America</string>
		<key>image</key>
		<string>CaptainAmerica</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Colossus</string>
		<key>image</key>
		<string>Colossus</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cyclops</string>
		<key>image</key>
		<string>Cyclops</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Doctor Strange</string>
		<key>image</key>
		<string>DoctorStrange</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Emma Frost</string>
		<key>image</key>
		<string>EmmaFrost</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gambit</string>
		<key>image</key>
		<string>Gambit</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hawkeye</string>
		<key>image</key>
		<string>Hawkeye</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jubilee</string>
		<key>image</key>
		<string>Jubilee</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Juggernaut</string>
		<key>image</key>
		<string>Juggernaut</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ka-Zar</string>
		<key>image</key>
		<string>KaZar</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lockheed</string>
		<key>image</key>
		<string>Lockheed</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Magneto</string>
		<key>image</key>
		<string>Magneto</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mr. Fantastic</string>
		<key>image</key>
		<string>MrFantastic</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nick Fury</string>
		<key>image</key>
		<string>NickFury</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nico Minoru</string>
		<key>image</key>
		<string>NicoMinoru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nightcrawler</string>
		<key>image</key>
		<string>Nightcrawler</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Puck</string>
		<key>image</key>
		<string>Puck</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Red Skull</string>
		<key>image</key>
		<string>RedSkull</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sabretooth</string>
		<key>image</key>
		<string>Sabretooth</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shaman</string>
		<key>image</key>
		<string>Shaman</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Spider-Man</string>
		<key>image</key>
		<string>SpiderMan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thing</string>
		<key>image</key>
		<string>Thing</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wolverine</string>
		<key>image</key>
		<string>Wolverine</string>
	</dict>
</array>
</plist>
